0 0 * * * python /app/create_videos.py --use-cached-communities --save-in-firebase --include-member-videos >> /var/log/cron.log 2>&1
0 1 * * 0 python /app/create_videos.py --community-video --save-in-firebase >> /var/log/cron.log 2>&1
